
/* Lato-black */
@font-face {
    font-family: "LatoBlack";
    src: url(../fonts/Lato-Black.ttf);
}

/* Lato-semibold */
@font-face {
    font-family: "LatoSemibold";
    src: url(../fonts/Lato-Semibold.ttf);
}

/* bn */
@font-face {
    font-family: "Bnbold";
    src: url(../fonts/bnbold.ttf);
}

/* Lato-regular */
@font-face {
    font-family: "LatoRegular";
    src: url(../fonts/Lato-Regular.ttf);
}

/* Lato medium */

@font-face {
    font-family: "LatoMed";
    src: url(../fonts/Lato-LightItalic.ttf);
}